/* Nav-Bar */

.logo-starwars img {
  max-width: 100%;
}

.navbar {
  display: grid;
  grid-template-rows: 1fr;
}

.mode-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  list-style: none;
  margin: 0 12px;
  width: 100%;
  background-color: var(--nav-background-color);
  box-shadow: inset -2px -3px 55px -8px rgba(53, 63, 179, 1);
  text-transform: uppercase;
  border-radius: var(--primary-border-radius);
  font-weight: bold;
  text-align: center;
}

.mode-list a:hover {
  border-bottom: 3px solid white;
}

.mode-btn {
  text-decoration: none;
  color: black;
}

/* MEDIA */

@media only screen and (max-width: 768px) {
  /* Media-Navbar tablets */

  .logo-starwars {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  /* Media Navbar Desktop */

  .navbar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .mode-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-self: flex-end;
    align-self: center;
    gap: 15px;
    height: 150px;
    margin: 30px;
  }

  .mode-list li {
    display: grid;
    justify-content: space-around;
    font-size: 1.2em;
  }
}
