* {
  box-sizing: border-box;
}

:root {
  --primary-border-radius: 16px;
  --nav-background-color: rgb(245, 132, 98);
}

body {
  background: url(/static/assets/ui/StarWarsBackground.jpg) no-repeat center center / cover fixed;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Nav-Bar */

.logo-starwars {
  width: 100%;
  height: auto;
  margin: 0;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1fr;
}

.mode-list.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  list-style: none;
  margin: 0 12px;
  width: 100%;
  background-color: var(--nav-background-color);
  box-shadow: inset -2px -3px 55px -8px rgba(53, 63, 179, 1);
  text-transform: uppercase;
  border-radius: var(--primary-border-radius);
  font-weight: bold;
  text-align: center;
}

.mode-list.flex a:hover {
  border-bottom: 3px solid white;
}

.mode-btn {
  text-decoration: none;
  color: black;
}

/* MEDIA */

@media only screen and (max-width: 768px) {
  /* Media-Navbar tablets */

  .logo-starwars {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  /* Media Navbar Desktop */

  .logo-starwars {
    margin-left: 0px;
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .mode-list.flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-self: flex-end;
    align-self: center;
    gap: 15px;
    height: 150px;
    margin: 30px;
  }

  .mode-list.flex li {
    display: grid;
    justify-content: space-around;
    font-size: 1.2em;
  }
}
