:root {
  --primary-border-radius: 16px;
  --nav-background-color: rgb(245, 132, 98);
  --button-red-color: #ff0000cc;
  --color-white: #ffffff;
  --base-font-size: 1.8rem;
  --color-correct: #8fbc8f;
}
